
<div id="send-message">
    Write Message:
    <input class="form-control" @bind="currentMessage" />
    <button type="button" class="btn btn-primary" @onclick="SendMessageEvent">Send</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" @onclick="RefreshMessagesEvent">Refresh</button>
</div>
<div id="chat-box">
    @if (messages.Count() > 0)
    {
        @foreach (var message in messages)
        {
            <p class="@(IsCurrentUser(message.SenderId) ? "sender" : "recipient")">
                <b>@GetUserName(message.SenderId)</b>:&nbsp;<span class="message-text"><i>@message.Text</i></span><br />
                <span class="message-sent">@GetDateDisplay(message.Sent)</span>
            </p>
        }
    }
    else
    {
        <i>No Messages Available</i>
    }
</div>