<h3>Contacts</h3>
<ul>
    @foreach (var contact in ContactList)
    {
        <li>
            <span class="oi oi-person" aria-hidden="true"></span>
            <a href="" @onclick="@(e => SelectContactOnClick(e, contact))">@contact.UserName</a>
        </li>
    }
</ul>

